@{
    ViewBag.Title = "Home Page";
}
<!--style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/94/79/92/9479923a4f459f28358ccc49d9d51327.jpg');"  -->
<div class="jumbotron" >
    <h1>Payroll System</h1>
    <br /><p style="font-weight: bold" class="lead">The one stop shop for all your Payroll needs! **</p>
    <br />
    <br />
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View your paystubs</h2>
        <p>
           This system lets you view your monthly paystubs.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage Users</h2>
        <p>Managers and Administrators of the system are allowed to hire, promote, or fire employees under their supervision</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Departments</h2>
        <p>Administrative users are allowed to create and manage Departments in the company</p>
    </div>
</div>
<br />   
<div class="row">
    <p style="font-size: 10px; color:red;">  **(Excluding any worthwhile payroll system features)</p>
</div>